Repository RubenRaMar/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Implement styles of the collection of works within the Index page
  .eslintrc.cjs
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/sass/pages/_index.scss
Due: prettier --write

Create works-collection page
  src/components/MainHead/MainHead.astro
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/layouts/Layout.astro
  src/pages/work/[...slug].astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to works-collection page
  package-lock.json
  package.json
  src/sass/pages/_works-collection.scss
  src/sass/styles.scss
Due: prettier --write

Create work page
  src/components/ContactMe/ContactMe.astro
  src/components/WorkPreview/WorkPreview.astro
  src/content/work/isdi-coders/pre-course/provisional-connect-four.md
  src/content/work/isdi-coders/pre-course/provisional-password.md
  src/pages/about.astro
  src/pages/index.astro
  src/pages/work.astro
  src/pages/work/[...slug].astro
  src/sass/pages/_works-collection.scss
  src/utils/content/types.ts
  src/utils/content/work/work.ts
Due: eslint --max-warnings=0, prettier --write

Add connect-four proyect to the work collection
  src/content/work/isdi-coders/pre-course/connect-four.md
  src/content/work/isdi-coders/pre-course/provisional-connect-four.md
Due: prettier --write

Add password proyect to the work collection
  public/images/works/connect-four/connect 4.psd
  public/images/works/connect-four/connect-four.png
  public/images/works/connect-four/exit.webp
  public/images/works/connect-four/game-board.webp
  public/images/works/connect-four/game.webp
  public/images/works/connect-four/miniature-carousel.webp
  public/images/works/connect-four/score.webp
  public/images/works/connect-four/turn-player.webp
  public/images/works/password/answer-panel.webp
  public/images/works/password/dragon-ball.png
  public/images/works/password/game.webp
  public/images/works/password/home.webp
  public/images/works/password/menu.webp
  public/images/works/password/miniature-carousel.webp
  public/images/works/password/radar.webp
  public/images/works/password/score.webp
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/content/work/isdi-coders/pre-course/password.md
  src/content/work/isdi-coders/pre-course/provisional-password.md
  src/layouts/Layout.astro
  src/sass/pages/_works-collection.scss
Due: eslint --max-warnings=0, prettier --write

Provisional
  public/images/edication-training/diego.jpg
  public/images/edication-training/lorena.jpg
  public/images/edication-training/mario.jpg
  public/images/edication-training/ruben.jpg
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/content/work/isdi-coders/pre-course/connect-four.md
  src/content/work/isdi-coders/pre-course/password.md
  src/pages/education-training.astro
  src/sass/pages/_education-training.scss
  src/sass/styles.scss
  src/utils/content/about/about.ts
  src/utils/content/educationTraining/educationTrainig.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

provisional
  public/images/edication-training/diego.jpg
  public/images/edication-training/lorena.jpg
  public/images/edication-training/mario.jpg
  public/images/edication-training/ruben.jpg
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/content/work/isdi-coders/pre-course/connect-four.md
  src/content/work/isdi-coders/pre-course/password.md
  src/pages/education-training.astro
  src/sass/core/_global.scss
  src/sass/pages/_education-training.scss
  src/sass/styles.scss
  src/utils/content/about/about.ts
  src/utils/content/educationTraining/educationTrainig.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Create IsdiCoders component
  src/components/CallToAction/CallToAction.astro
  src/components/IsdiCoders/IsdiCoders.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to IsdiCoders component
  src/sass/components/_grid.scss
  src/sass/components/_isdi-coders.scss
  src/sass/components/_page-header.scss
  src/sass/components/_work-preview.scss
Due: none

Create SectionHeader component
  src/components/SectionHeader/SectionHeader.astro
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/content/work/isdi-coders/pre-course/connect-four.md
  src/content/work/isdi-coders/pre-course/password.md
Due: eslint --max-warnings=0, prettier --write

Implement styles to SectionHeader component
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/content/work/isdi-coders/pre-course/connect-four.md
  src/sass/components/_section-header.scss
  src/sass/pages/_about.scss
  src/sass/pages/_work.scss
  src/sass/pages/_works-collection.scss
  src/sass/styles.scss
Due: prettier --write

Create education-training page
  src/pages/education-training.astro
  src/pages/work.astro
  src/utils/content/about/about.ts
  src/utils/content/isdiCoders/isdiCoders.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to education-training page
  src/sass/pages/_education-training.scss
  src/sass/pages/_index.scss
  src/sass/styles.scss
Due: none

Implement the IsdiCoders component in the work page
  src/pages/work/[...slug].astro
Due: eslint --max-warnings=0, prettier --write

Implement the IsdiCoders component in the about page
  src/pages/about.astro
Due: eslint --max-warnings=0, prettier --write

Implement the IsdiCoders component in the index page
  src/pages/about.astro
  src/pages/index.astro
Due: eslint --max-warnings=0, prettier --write

Create 404 page
  src/pages/404.astro
Due: eslint --max-warnings=0, prettier --write

Add infomation to the about page
  src/pages/about.astro
  src/sass/components/_isdi-coders.scss
  src/sass/pages/_works-collection.scss
Due: eslint --max-warnings=0, prettier --write

Add infomation to the education-training page
  src/pages/education-training.astro
  src/utils/content/about/about.ts
  src/utils/content/personalData/personalData.ts
  src/utils/content/skills/skills.ts
  src/utils/content/socialMedia/socialMedia.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Translate the ISDI Coders Bootcamp experience into English
  src/pages/education-training.astro
Due: eslint --max-warnings=0, prettier --write

Fix ContactMe component position
  src/pages/education-training.astro
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx,astro}
  prettier --write: any of: *.{ts,tsx,css,json,md,astro}
