Repository RubenRaMar/Portfolio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, prettier --write

Implement styles to the Layout component
  package-lock.json
  package.json
  sonar-project.properties
  src/sass/components/_layout.scss
  src/sass/styles.scss
  vitest.config.ts
Due: eslint --max-warnings=0, prettier --write

Create MainHeader component
  src/components/MainHead/MainHead.astro
  src/components/MainHeader/MainHeader.astro
  src/layouts/Layout.astro
Due: eslint --max-warnings=0, prettier --write

Apply styles to the MainHeader component
  src/sass/components/_mainHeader.scss
  src/sass/core/_global.scss
  src/sass/functions/_functions.scss
  src/sass/styles.scss
Due: none

Create Icon component
  src/components/Icon/Icon.astro
  src/components/MainHeader/MainHeader.astro
  src/utils/icons/IconPaths.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to the Icon component
  .github/workflows/sonar.yml
  package-lock.json
  package.json
  sonar-project.properties
  src/sass/components/_icon.scss
  src/sass/styles.scss
  src/setupTests.ts
  vitest.config.ts
Due: eslint --max-warnings=0, prettier --write

Create NavBar component
  src/components/MainHeader/MainHeader.astro
  src/components/NavBar/NavBar.astro
  src/layouts/Layout.astro
  src/utils/content/navBarLinks/navBarLinks.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to the NavBar component
  src/sass/components/_main-header.scss
  src/sass/components/_nav-bar.scss
  src/sass/core/_global.scss
  src/sass/styles.scss
  src/sass/variables/_colors.scss
  src/sass/variables/_root.scss
Due: none

Create SocialMedia component
  src/components/MainHeader/MainHeader.astro
  src/components/SocialMedia/SocialMedia.astro
  src/layouts/Layout.astro
  src/utils/content/socialMedia/socialMedia.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to the SocialMedia component
  src/sass/components/_main-header.scss
  src/sass/components/_nav-bar.scss
  src/sass/components/_social-media.scss
  src/sass/styles.scss
Due: none

Create ThemeToogle component
  src/components/MainHeader/MainHeader.astro
  src/components/SocialMedia/SocialMedia.astro
  src/components/ThemeToggle/ThemeToggle.astro
Due: eslint --max-warnings=0, prettier --write

Apply funcionality to the ThemeToggle component to change theme color
  src/components/MainHeader/MainHeader.astro
  src/components/ThemeToggle/ThemeToggle.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to ThemeToggle component
  src/sass/components/_main-header.scss
  src/sass/components/_nav-bar.scss
  src/sass/components/_social-media.scss
  src/sass/components/_theme-toggle-button.scss
  src/sass/styles.scss
Due: none

Make the MainHeader component responsive
  src/components/MainHeader/MainHeader.astro
  src/sass/components/_main-header.scss
  src/sass/components/_nav-bar.scss
  src/sass/variables/_animations.scss
  src/sass/variables/_font-size.scss
Due: eslint --max-warnings=0, prettier --write

Refine theme change in MainHeader components
  src/components/ThemeToggle/ThemeToggle.astro
  src/sass/components/_main-header.scss
  src/sass/components/_social-media.scss
  src/sass/components/_theme-toggle-button.scss
  src/sass/core/_reset.scss
  src/sass/variables/_font-size.scss
  src/sass/variables/_root.scss
Due: eslint --max-warnings=0, prettier --write

Create Footer component
  src/components/Footer/Footer.astro
  src/layouts/Layout.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to the Footer component
  src/sass/components/_footer.scss
  src/sass/components/_nav-bar.scss
  src/sass/styles.scss
Due: none

Create Pill component
  src/components/Pill/Pill.astro
  src/sass/components/_pill.scss
Due: eslint --max-warnings=0, prettier --write

Create Roles component
  src/components/Roles/Roles.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to Roles component
  src/sass/components/_roles.scss
Due: none

Create PageHeader component
  src/components/PageHeader/PageHeader.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to PageHeader component
  src/sass/components/_page-header.scss
Due: none

Implement the Pageheader component in the index page
  public/assets/profileImage.webp
  src/layouts/Layout.astro
  src/pages/index.astro
  src/utils/content/personalData/personalData.ts
  src/utils/content/roles/roles.ts
  src/utils/content/types.ts
  src/utils/icons/IconPaths.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to the index page
  src/sass/components/_footer.scss
  src/sass/components/_layout.scss
  src/sass/components/_nav-bar.scss
  src/sass/core/_global.scss
  src/sass/pages/_index.scss
  src/sass/styles.scss
Due: none

Create Skills component
  src/components/Icon/Icon.astro
  src/components/Roles/Roles.astro
  src/components/Skills/Skills.astro
  src/pages/index.astro
  src/utils/content/roles/roles.ts
  src/utils/content/skills/skills.ts
  src/utils/content/types.ts
  src/utils/icons/IconPaths.ts
  src/utils/icons/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to Skills comonent
  src/sass/components/_skills.scss
  src/sass/pages/_index.scss
  src/sass/styles.scss
Due: none

Create CallToAction component
  src/components/CallToAction/CallToAction.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to CallToAction component
  src/sass/components/_call-to-action.scss
  src/sass/styles.scss
Due: none

Create ContactMe component
  src/components/ContantMe/ContantMe.astro
  src/pages/index.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to ContactMe component
  src/sass/components/_contact-me.scss
  src/sass/components/_main-header.scss
  src/sass/components/_pill.scss
  src/sass/core/_global.scss
  src/sass/pages/_index.scss
  src/sass/styles.scss
Due: none

Create about page
  package-lock.json
  package.json
  src/components/Icon/Icon.astro
  src/components/MainHead/MainHead.astro
  src/components/MainHeader/MainHeader.astro
  src/components/PageHeader/PageHeader.astro
  src/components/Roles/Roles.astro
  src/components/Skills/Skills.astro
  src/pages/about.astro
  src/pages/index.astro
  src/utils/content/about/about.ts
  src/utils/content/roles/roles.ts
  src/utils/content/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to about page
  src/sass/components/_contact-me.scss
  src/sass/components/_pill.scss
  src/sass/pages/_about.scss
  src/sass/styles.scss
Due: none

Install and implement animate on scroll with AOS library
  package-lock.json
  package.json
  src/components/CallToAction/CallToAction.astro
  src/components/ContantMe/ContantMe.astro
  src/components/MainHead/MainHead.astro
  src/components/PageHeader/PageHeader.astro
  src/components/Pill/Pill.astro
  src/components/Skills/Skills.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/sass/core/_global.scss
  src/sass/pages/_about.scss
  src/utils/content/socialMedia/socialMedia.ts
Due: eslint --max-warnings=0, prettier --write

Fix mobile scrolling animation behavior
  src/components/CallToAction/CallToAction.astro
  src/components/ContantMe/ContantMe.astro
  src/components/Footer/Footer.astro
  src/components/Icon/Icon.astro
  src/components/MainHeader/MainHeader.astro
  src/components/NavBar/NavBar.astro
  src/components/PageHeader/PageHeader.astro
  src/components/Pill/Pill.astro
  src/components/Roles/Roles.astro
  src/components/Skills/Skills.astro
  src/components/SocialMedia/SocialMedia.astro
  src/components/ThemeToggle/ThemeToggle.astro
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
  src/sass/components/_main-header.scss
  src/sass/components/_nav-bar.scss
  src/sass/components/_pill.scss
  src/sass/variables/_animations.scss
  src/utils/content/about/about.ts
  tsconfig.json
Due: eslint --max-warnings=0, prettier --write

Create work collection types
  src/content/config.ts
Due: eslint --max-warnings=0, prettier --write

Add FIGURAniS to the work collection
  public/images/backgrounds/bg-footer-dark-1440w.jpg
  public/images/backgrounds/bg-footer-dark-800w.jpg
  public/images/backgrounds/bg-footer-light-1440w.jpg
  public/images/backgrounds/bg-footer-light-800w.jpg
  public/images/backgrounds/bg-main-dark-1440w.jpg
  public/images/backgrounds/bg-main-dark-800w.jpg
  public/images/backgrounds/bg-main-dark.svg
  public/images/backgrounds/bg-main-light-1440w.jpg
  public/images/backgrounds/bg-main-light-800w.jpg
  public/images/backgrounds/bg-main-light.svg
  public/images/backgrounds/bg-subtle-1-dark-1440w.jpg
  public/images/backgrounds/bg-subtle-1-dark-800w.jpg
  public/images/backgrounds/bg-subtle-1-light-1440w.jpg
  public/images/backgrounds/bg-subtle-1-light-800w.jpg
  public/images/backgrounds/bg-subtle-2-dark-1440w.jpg
  public/images/backgrounds/bg-subtle-2-dark-800w.jpg
  public/images/backgrounds/bg-subtle-2-light-1440w.jpg
  public/images/backgrounds/bg-subtle-2-light-800w.jpg
  public/images/backgrounds/noise.png
  public/images/profileImage.webp
  public/images/works/proyect-final/details.webp
  public/images/works/proyect-final/figma.webp
  public/images/works/proyect-final/home.webp
  public/images/works/proyect-final/login.webp
  public/images/works/proyect-final/miniature-carrusel.webp
  public/images/works/proyect-final/miniature.webp
  public/images/works/proyect-final/modify&add.webp
  public/images/works/proyect-final/sonarcloud.webp
  src/content/work/proyect-final/figuranis.md
Due: prettier --write

Create WorkPreview component
  src/components/WorkPreview/WorkPreview.astro
Due: eslint --max-warnings=0, prettier --write

Implement styles to WorkPreview component
  src/sass/components/work-preview.scss
Due: none

Create Grid component
  public/images/works/connect-four/connect-four.png
  public/images/works/connect-four/miniature.webp
  public/images/works/figuranis/details.webp
  public/images/works/figuranis/figma.webp
  public/images/works/figuranis/home.webp
  public/images/works/figuranis/login.webp
  public/images/works/figuranis/miniature-carrusel.webp
  public/images/works/figuranis/miniature.webp
  public/images/works/figuranis/modify&add.webp
  public/images/works/figuranis/sonarcloud.webp
  public/images/works/password/dragon-ball.png
  public/images/works/password/miniature.webp
  src/components/CallToAction/CallToAction.astro
  src/components/ContantMe/ContantMe.astro
  src/components/Grid/Grid.astro
  src/components/NavBar/NavBar.astro
  src/components/PageHeader/PageHeader.astro
  src/content/work/isdi-coders/final-proyect/figuranis.md
  src/utils/content/personalData/personalData.ts
  src/utils/icons/IconPaths.ts
  src/utils/icons/types.ts
Due: eslint --max-warnings=0, prettier --write

Implement styles to Grid component
  src/content/work/proyect-final/figuranis.md
  src/sass/components/_call-to-action.scss
  src/sass/components/_contact-me.scss
  src/sass/components/_footer.scss
  src/sass/components/_grid.scss
  src/sass/components/_layout.scss
  src/sass/components/_nav-bar.scss
  src/sass/components/_page-header.scss
  src/sass/components/_theme-toggle-button.scss
  src/sass/core/_global.scss
  src/sass/core/_reset.scss
  src/sass/pages/_about.scss
  src/sass/pages/_works-collection.scss
  src/sass/styles.scss
  src/sass/variables/_colors.scss
  src/sass/variables/_root.scss
Due: prettier --write

Implement the collection of works within the Index page
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/index.astro
Due: eslint --max-warnings=0, prettier --write

Path conditions:
  eslint --max-warnings=0: any of: *.{ts,tsx,astro}
  prettier --write: any of: *.{ts,tsx,css,json,md,astro}
